@use '../_variables.scss';
@use '../_mixins.scss';

// ============================ big monitors ===============================
@media (min-width: variables.$breakpoint-lg) {
  // mini layout ====================>
  .card_container_mini {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 70px;

    // background: red;
    .card_content_mini {
      align-items: center;
      background: variables.$dark;
      border-radius: 6px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      flex-direction: column;
      margin: 10px 10px 16px 10px;
      transition: all 0.2s ease-in-out;
      width: 22%;

      &:hover {
        transform: scale(1.1);
      }

      img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
      };

      .title_content, .description, .info_game_content {
        width: 88%;
      };

      .title_content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 18px 0px 6px 0px;

        h3 {
          font-size: 0.9rem;
          font-weight: 900;
          margin-right: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%;
        };

        span {
          background: variables.$blue-primary;
          border-radius: 7px;
          color: variables.$white-primary;
          font-size: 14px;
          font-weight: 700;
          margin-left: 2px;
          padding: 2px;
          text-align: center;
          width: 50px;
        };
      };

      .description {
        font-size: 1rem;
        margin: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      };

      .info_game_content {
        align-items: center;
        display: flex;
        height: 19px;
        justify-content: flex-end;
        margin: 10px 0px 18px 0px;

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.8rem;
          font-weight: 900;
          justify-content: center;
          margin-right: 2px;
          padding: 2px 6px;
        };

        .icon {
          align-items: center;
          display: flex;
          font-size: 1.5rem;
          margin-left: 2px;
        };
      };
    };
  }; // end =======>

  // base layout ====================>
  .card_container_base {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card_content_base {
      background-color: variables.$dark;
      border-radius: 4px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      height: 120px;
      justify-content: space-between;
      overflow: hidden;
      margin: 10px 0px;

      .thumbnail_game {
        width: 25%;

        img {
          height: 100%;
          width: 100%;
        };
      };

      .info_game_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 0px 4px 8px;
        width: 65%;

        h1, p, span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        };

        h1 {
          color: variables.$white-secondary;
          font-size: 1.2rem;
        };

        p {
          font-size: 1rem;
          margin: 0px;
        };

        span {
          align-items: center;
          background-color: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.8rem;
          font-weight: 900;
          justify-content: center;
          width: 22%;
        };
      };

      .data_status_game {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 10%;

        .icon_platform {
          font-size: 24px;
          margin-bottom: -4px;
        };

        span {
          background-color: variables.$blue-primary;
          border-radius: 4px;
          color: variables.$white-primary;
          font-size: 11px;
          font-weight: 900;
          margin-top: -4px;
          padding: 4px;
          text-align: center;
          width: 40px;
        };
      };
    };
  }; // end =======>
};





















// ================ notebooks and tablets in landscape mode ================
@media (max-width: variables.$breakpoint-lg) {
  // mini layout ====================>
  .card_container_mini {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 48px;

    .card_content_mini {
      align-items: center;
      background: variables.$dark;
      border-radius: 6px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      flex-direction: column;
      margin: 10px 10px 16px 10px;
      transition: all 0.2s ease-in-out;
      width: 30%;

      &:hover {
        transform: scale(1.1);
      }


      img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
      };

      .title_content, .description, .info_game_content {
        width: 88%;
      };

      .title_content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 18px 0px 6px 0px;

        h3 {
          font-size: 1.1rem;
          font-weight: 900;
          margin-right: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%;
        };

        span {
          background: variables.$blue-primary;
          border-radius: 7px;
          color: variables.$white-primary;
          font-weight: 900;
          margin-left: 2px;
          padding: 4px;
          text-align: center;
          width: 50px;
        };
      };

      .description {
        font-size: 1.1rem;
        margin: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      };

      .info_game_content {
        align-items: center;
        display: flex;
        height: 19px;
        justify-content: flex-end;
        margin: 10px 0px 18px 0px;

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.8rem;
          font-weight: 900;
          justify-content: center;
          margin-right: 2px;
          padding: 2px 6px;
        };

        .icon {
          align-items: center;
          display: flex;
          font-size: 1.5rem;
          margin-left: 2px;
        };
      };
    };
  }; // end ========>

  // base layout ====================>
  .card_container_base { 
    display: flex;
    flex-direction: column;
    width: 100%;

    .card_content_base {
      background-color: variables.$dark;
      border-radius: 4px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      height: 100px;
      justify-content: space-between;
      overflow: hidden;
      margin: 10px 0px;

      .thumbnail_game {
        width: 30%;
        img{
          height: 100%;
          width: 100%;
        }
      };

      .info_game_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 0px 4px 8px;
        width: 60%;

        h1, p, span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        };

        h1 {
          color: variables.$white-secondary;
          font-size: 1.2rem;
        };

        p {
          font-size: 1rem;
          margin: 0px
        };

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.9rem;
          font-weight: 900;
          justify-content: center;
          width: 28%;
        };
      };

      .data_status_game {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 10%;

        .icon_platform {
          font-size: 24px;
          margin-bottom: -8px;
        };

        span {
          background: variables.$blue-primary;
          border-radius: 4px;
          color: variables.$white-primary;
          font-size: 12px;
          font-weight: 900;
          margin-top: -8px;
          padding: 4px;
          text-align: center;
          width: 40px;
        };
      };
    };
  }; // end ======>
};

// ==== tablets in portrait mode and smartphones in landscape mode =========
@media (max-width: variables.$breakpoint-md) {
  // base layout ====================>
  .card_container_base {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card_content_base {
      background-color: variables.$dark;
      border-radius: 4px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      height: 120px;
      justify-content: space-between;
      overflow: hidden;
      margin: 10px 24px;


      .thumbnail_game {
       width: 30%;

        img {
          height: 100%;
          width: 100%;
        };
      };

      .info_game_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 0px 4px 8px;
        width: 56%;

        h1, p, span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        };

        h1 {
          color: variables.$white-secondary;
          font-size: 1.2rem;
        };

        p {
          font-size: 1.1rem;
          margin-bottom: -10px;
        }

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.9rem;
          font-weight: 900;
          justify-content: center;
          width: 20%;
        };
      };

      .data_status_game {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 14%;

        .icon_platform {
          font-size: 24px;
          margin-bottom: -8px;
        };

        span {
          background: variables.$blue-primary;
          border-radius: 4px;
          color: variables.$white-primary;
          font-size: 12px;
          font-weight: 900;
          margin-top: -8px;
          padding: 4px;
          text-align: center;
          width: 40px;
        };
      };
    };
  }; // end ========>

  // mini layout ====================>
  .card_container_mini {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 40px;

    .card_content_mini {
      align-items: center;
      background: variables.$dark;
      border-radius: 6px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      flex-direction: column;
      margin: 10px 10px 16px 10px;
      transition: all 0.2s ease-in-out;
      width: 42%;

      &:hover {
        transform: scale(1.1);
      }

      img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
      };

      .title_content, .description, .info_game_content {
        width: 88%;
      };

      .title_content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 18px 0px 6px 0px;

        h3 {
          font-size: 1.2rem;
          font-weight: 900;
          margin-right: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%;
        };

        span {
          background: variables.$blue-primary;
          border-radius: 7px;
          color: variables.$white-primary;
          font-weight: 900;
          margin-left: 2px;
          padding: 4px;
          text-align: center;
          width: 50px;
        };
      };

      .description {
        font-size: 1.3rem;
        margin: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      };

      .info_game_content {
        align-items: center;
        display: flex;
        height: 19px;
        justify-content: flex-end;
        margin: 10px 0px 18px 0px;

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.9rem;
          font-weight: 900;
          justify-content: center;
          margin-right: 2px;
          padding: 2px 6px;
        };

        .icon {
          align-items: center;
          display: flex;
          font-size: 1.5rem;
          margin-left: 2px;
        };
      };
    };
  };// end =========>
};

// =================== smartphones in portrait mode ========================
@media (max-width: variables.$breakpoint-sm) {
  // base layout ====================>
  .card_container_base {
    display: flex;
    flex-direction: column; 

    .card_content_base {
      background-color: variables.$dark;
      border-radius: 4px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      height: 74px;
      justify-content: space-between;
      overflow: hidden;
      margin: 10px 10px;


      .thumbnail_game {
        width: 30%;

        img {
          height: 100%;
          width: 100%;
        };
      };

      .info_game_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 0px 4px 8px;
        width: 56%;

        h1, p, span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        };

        h1 {
          color: variables.$white-secondary;
          font-size: 1.2rem;
        }

        p {
          font-size: none;
          margin: 0;
        }

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.9rem;
          font-weight: 900;
          justify-content: center;
          width: 40%;
        };
      };

      .data_status_game {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 14%;

        .icon_platform {
          font-size: 18px;
          margin: 0px;
        };

        span {
          background: variables.$blue-primary;
          border-radius: 4px;
          color: variables.$white-primary;
          font-size: 10px;
          font-weight: 900;
          margin: 0px;
          padding: 4px;
          text-align: center;
          width: 32px;
        };
      };
    };
  }; // end ===========>

  // mini layout ====================>
  .card_container_mini {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    
    .card_content_mini {
      align-items: center;
      background: variables.$dark;
      border-radius: 6px;
      box-shadow: 0px 0px 30px 8px variables.$dark;
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease-in-out;
      width: 84%;

      &:hover {
        transform: scale(1.1);
      }

      img {
        border-radius: 6px 6px 0px 0px;
        width: 100%;
      };

      .title_content, .description, .info_game_content {
        width: 88%;
      };

      .title_content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 18px 0px 6px 0px;

        h3 {
          font-size: 1.2rem;
          font-weight: 900;
          margin-right: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 80%;
        };

        span {
          @include mixins.icon_free
        };
      };

      .description {
        font-size: 1.3rem;
        margin: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      };

      .info_game_content {
        align-items: center;
        display: flex;
        height: 19px;
        justify-content: flex-end;
        margin: 10px 0px 18px 0px;

        span {
          align-items: center;
          background: variables.$color-secondary;
          border-radius: 4px;
          color: variables.$color-primary;
          display: flex;
          font-size: 0.9rem;
          font-weight: 900;
          justify-content: center;
          margin-right: 2px;
          padding: 2px 6px;
        };

        .icon {
          align-items: center;
          display: flex;
          font-size: 1.5rem;
          margin-left: 2px;
        };
      };
    };
  }; // end ===========>
};
  