@use '../_variables.scss';
@use '../_mixins.scss';

.header_container {
  border-bottom: 1px solid variables.$black;
  box-shadow: 5px 0px 30px variables.$black ;
  padding: 5px 0px;
  position: relative;

  .header_content {
    align-items: center;
    display: flex;
    width: 100%;

    @include mixins.header-layout-filter;
  }

  .header_content_layout_filter {
    align-items: center;
    display: flex;
    width: 100%;

    @include mixins.header-layout-filter(false);
  }

  .title {
    font-size: variables.$font-md;
  }

  select {
    background: none;
    border: 0;
    cursor: pointer;
    height: 30px;
    text-align: center;

      option {
        background: variables.$color-secondary;
        color: variables.$font-color-secondary;
      
      }
  }

  button {
    background: none;
    border: 0;
    font-size: variables.$font-sm;
  }

  @media (max-width: 768px) {
   .title {
     font-size: variables.$font-md-rs;
   }
  }
}





