@use '../_variables.scss';
@use '../_mixins.scss';

// ============================ big monitors ===============================
@media (min-width: variables.$breakpoint-lg) {
  .header_container {
    background-color: variables.$color-base-page;
    border-bottom: 1px solid variables.$black;
    box-shadow: 5px 0px 30px variables.$black;
    margin-bottom: 40px;
    padding: 5px 0px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 90;

    .header_content {
      align-items: center;
      display: flex;
      width: 100%;

      @include mixins.header-layout-filter;

      .title_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin-right: 80px;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 17px;
          text-align: center;
          width: 124px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 24px;
        margin: 6px 2% 0px 0px;
        position: relative;
        transition: all 0.5s ease-in;
        width: 115px;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        &:hover span {
          visibility: visible;
        };

        span {
          background-color: black;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 900;
          padding: 4px;
          position: absolute;
          right: 2px;
          text-align: center;
          top: 100%;
          visibility: hidden;
          width: 100px;
          z-index: 1;

          &::after {
            content: "";
            margin-left: 20px;
            position: absolute;
            top: 0;
            left: 10px;
          };
        };
      };
    };

    .header_content_layout_filter {
      align-items: center;
      display: flex;
      width: 100%;

      @include mixins.header-layout-filter(false);

      .title_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 8%;
        width: 100%;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin-right: 80px;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 17px;
          text-align: center;
          width: 124px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 24px;
        margin: 6px 6% 0px 0px;
        position: relative;
        transition: all 0.5s ease-in;
        width: 300px;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        &:hover span {
          visibility: visible;
        };

        span {
          background-color: black;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 900;
          padding: 4px;
          position: absolute;
          right: 6%;
          text-align: center;
          top: 100%;
          visibility: hidden;
          width: 100px;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            top: 0;
          };
        };
      };
    };
  };
};

// ================ notebooks and tablets in landscape mode ================
@media (max-width: variables.$breakpoint-lg) {
  .header_container {
    background-color: variables.$color-base-page;
    border-bottom: 1px solid variables.$black;
    box-shadow: 5px 0px 30px variables.$black;
    margin-bottom: 40px;
    padding: 5px 0px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 99;

    .header_content {
      align-items: center;
      display: flex;
      width: 100%;

      @include mixins.header-layout-filter;

      .title_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin-right: 80px;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 17px;
          text-align: center;
          width: 124px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 24px;
        margin: 6px 50px 0px 0px;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        span {
          display: none;
        };
      };
    };

    .header_content_layout_filter {
      align-items: center;
      display: flex;
      width: 100%;

      @include mixins.header-layout-filter(false);

      .title_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .icon {
        font-size: 30px;
        margin: 0 4px;
      };

      .title {
        color: variables.$white-secondary;
        font-family: variables.$font-title;
        font-size: 30px;
        margin-right: 80px;
      };
    };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 17px;
          text-align: center;
          width: 124px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 24px;
        margin: 6px 50px 0px 0px;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        span {
          display: none;
        };
      };
    };
  };
};

// ====== tablets in portrait mode and smartphones in landscape mode =======
@media (max-width: variables.$breakpoint-md) {
  .header_container {
    background-color: variables.$color-base-page;
    border-bottom: 1px solid variables.$black;
    box-shadow: 5px 0px 30px variables.$black;
    margin-bottom: 40px;
    padding: 5px 0px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 99;

    .header_content {
      align-items: center;
      display: flex;
      width: 100%;

      @include mixins.header-layout-filter;

      .title_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin-right: 80px;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 16px;
          text-align: center;
          width: 120px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 20px;
        margin: 6px 50px 0px 0px;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        span {
          display: none;
        };
      };
    };

    .header_content_layout_filter {
      align-items: center;
      display: flex;
      width: 100%;

      @include mixins.header-layout-filter(false);

      .title_container {
        align-items: center;
        display: flex;
        justify-content: center;
        white-space: nowrap;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin: 0;
          white-space: nowrap;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 16px;
          text-align: center;
          width: 120px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 20px;
        margin: 6px 50px 0px 0px;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        span {
          display: none;
        };
      };
    };
  };
};

// =================== smartphones in portrait mode ========================
@media (max-width: variables.$breakpoint-sm) {
  .header_container {
    background-color: variables.$color-base-page;
    border-bottom: 1px solid variables.$black;
    box-shadow: 5px 0px 30px variables.$black;
    margin-bottom: 40px;
    padding: 5px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;

    .header_content {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      @include mixins.header-layout-filter;

      .title_container {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin: 0 4px;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 14px;
          text-align: center;
          width: 100px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 20px;
        margin: 0;
        margin-top: 6px;
        width: 100%;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        span {
          display: none;
        };
      };
    };

    .header_content_layout_filter {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      @include mixins.header-layout-filter(false);

      .title_container {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;

        .icon {
          font-size: 30px;
          margin: 0 4px;
        };

        .title {
          color: variables.$white-secondary;
          font-family: variables.$font-title;
          font-size: 30px;
          margin: 0 4px;
        };
      };

      .selects_container {
        display: flex;
        justify-content: center;
        width: 100%;

        select {
          background: none;
          border: 0;
          height: 30px;
          font-size: 14px;
          text-align: center;
          width: 100px;

          &:hover {
            color: variables.$white-primary;
          };

          option {
            background: variables.$dark;
            color: variables.$font-color-secondary;
          };
        };
      };

      button {
        background: none;
        border: 0;
        font-size: 20px;
        margin: 0;
        margin-top: 6px;
        width: 100%;

        .icon_search path {
          &:hover {
            color: variables.$white-primary;
          };
        };

        span {
          display: none;
        };
      };
    };
  };
};
