@use '../variables.scss';
@use '../mixins.scss';

// ============================ big monitors ===============================
@media (min-width: variables.$breakpoint-lg) {
  .pagination_container {
    .pagination_content_nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1.5em;
      width: 100%;

      .current_page {
        margin: 0px 1em;

        span {
          background-color: variables.$color-primary;
          border-radius: 4px;
          color: variables.$font-color-primary;
          font-size: 16px;
          font-weight: 600;
          margin-right: 1px;
          padding: 0.5rem 0.8rem;
        };
      };

      button {
        background: none;
        border: none;
        color: variables.$blue-primary;
        font-size: 16px;
        font-weight: 700;
        padding: 0.5rem 0.8rem;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          background-color: variables.$color-primary;
          border-radius: 4px;
        };
      };
    };
  };
};

// ================ notebooks and tablets in landscape mode ================
@media (max-width: variables.$breakpoint-lg) {
  .pagination_container {
    .pagination_content_nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1.5em;
      width: 100%; 

      .current_page {
        margin: 0px 1em;

        span {
          background-color: variables.$color-primary;
          border-radius: 4px;
          color: variables.$font-color-primary;
          font-size: 16px;
          font-weight: 600;
          margin-right: 1px;
          padding: 0.5rem 0.8rem;
        };
      };

      button {
        background: none;
        border: none;
        color: variables.$blue-primary;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          background-color: variables.$color-primary;
          border-radius: 4px;
        };        
      };
    };
  };
};

// ====== tablets in portrait mode and smartphones in landscape mode =======
@media (max-width: variables.$breakpoint-md) {
  .pagination_container{
    .pagination_content_nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1.5em;
      width: 100%;
      
      .current_page {
        margin: 0px 1em;

        span {
          background-color: variables.$color-primary;
          border-radius: 4px;
          color: variables.$font-color-primary;
          font-size: 16px;
          font-weight: 600;
          margin-right: 1px;
          padding: 0.5rem 0.8rem;
        };
      };

      button {
        background: none;
        border: none;
        color: variables.$blue-primary;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          background-color: variables.$color-primary;
          border-radius: 4px;
        };      
      };
    };
  };
};

// =================== smartphones in portrait mode ========================
@media (max-width: variables.$breakpoint-sm) {
  .pagination_container {
    .pagination_content_nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1.5em;
      width: 100%;
      
      .current_page {
        margin: 0px 1em;

        span {
          background-color: variables.$color-primary;
          border-radius: 4px;
          color: variables.$font-color-primary;
          font-size: 16px;
          font-weight: 600;
          margin-right: 1px;
          padding: 0.5rem 0.8rem;
        };
      };

      button {
        background: none;
        border: none;
        color: variables.$blue-primary;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          background-color: variables.$color-primary;
          border-radius: 4px;
        };
      };
    };
  };
};