@use '../_variables.scss';

// ============================ big monitors ===============================
@media (min-width: variables.$breakpoint-lg) {
  .search_container {
    .filter_container {
      margin-bottom: 40px;

      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 40px;
          margin: 0px 3px 0px 30px;
        };

        .title {
          font-size: 30px;
          margin-left: 3px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
        margin-left: 60px;
     
        input {
          background: variables.$color-primary;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 10px;
          width: 40%;
        };
      };
    };
  };
}

// ================ notebooks and tablets in landscape mode ================
@media (max-width: variables.$breakpoint-lg) {
  .search_container {
    .filter_container  {
      margin-bottom: 40px;

      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 40px;
          margin: 0px 3px 0px 26px;
        };

        .title {
          font-size: 30px;
          margin-left: 3px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
        margin-left: 50px;
     
        input {
          background: variables.$color-primary;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 10px;
          width: 50%;
        };
      };
    };
  };
};

// ==== tablets in portrait mode and smartphones in landscape mode =========
@media (max-width: variables.$breakpoint-md) {
  .search_container {
    .filter_container  {
      margin-bottom: 38px;

      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 40px;
          margin: 0px 3px 0px 20px;
        };

        .title {
          font-size: 30px;
          margin-left: 3px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
        margin-left: 40px;

        input {
          background: variables.$color-primary;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 10px;
          width: 70%;
        };
      };
    };
  };
};

// =================== smartphones in portrait mode ========================
@media (max-width: variables.$breakpoint-sm) {
  .search_container {
    .filter_container  {
      margin-bottom: 32px;

      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 35px;
          margin: 0px 3px 0px 10px;
        };

        .title {
          font-size: 20px;
          margin-left: 3px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
        justify-content: center;
        margin: 0;

        input {
          background: variables.$color-primary;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 10px;
          width: 90%;
        };
      };
    };
  };
};
