@use '../_variables.scss';
@use '../mixins.scss';

// ============================ big monitors ===============================
@media (min-width: variables.$breakpoint-lg) {
  .search_container {
    .filter_container {
      margin-bottom: 40px;
      padding: 0px 10px;
      @include mixins.margin_fireplaces;
      
      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 40px;
          margin-right: 3px;
        };

        .title {
          font-size: 30px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
     
        input {
          background: variables.$black;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 12px;
          width: 60%;
        };
      };
    };

    .search_games_content {
      @include mixins.margin_fireplaces;
    };
  };
}

// ================ notebooks and tablets in landscape mode ================
@media (max-width: variables.$breakpoint-lg) {
  .search_container {
    .filter_container  {
      margin-bottom: 40px;
      padding: 0px 10px;
      @include mixins.margin_fireplaces;

      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 40px;
          margin-right: 3px;
        };

        .title {
          font-size: 30px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
     
        input {
          background: variables.$black;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 12px;
          width: 60%;
        };
      };
    };

    .search_games_content {
      @include mixins.margin_fireplaces;
    };
  };
};

// ==== tablets in portrait mode and smartphones in landscape mode =========
@media (max-width: variables.$breakpoint-md) {
  .search_container {
    .filter_container  {
      margin-bottom: 38px;
      padding: 0px 10px;
      @include mixins.margin_fireplaces;

      .filter_content {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;

        .icon {
          font-size: 40px;
          margin-right: 3px;
        };

        .title {
          font-size: 30px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
        margin: 0;

        input {
          background: variables.$black;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 12px;
          width: 80%;
        };
      };
    };

    .search_games_content {
      @include mixins.margin_fireplaces;
    };
  };
};

// =================== smartphones in portrait mode ========================
@media (max-width: variables.$breakpoint-sm) {
  .search_container {
    .filter_container  {
      margin-bottom: 32px;
      @include mixins.margin_fireplaces;
      padding: 0px 10px;

      .filter_content {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
          font-size: 35px;
          margin: 0px 3px 0px 10px;
        };

        .title {
          font-size: 20px;
        };
      };

      hr {
        border: 0;
        border-top: 2px solid variables.$break-color-primary;
        margin: 10px 6px;
      };

      .input_filter {
        display: flex;
        justify-content: center;
        margin: 0;

        input {
          background: variables.$black;
          border: 0;
          border-radius: 6px;
          color: variables.$color-secondary;
          font-size: 100%;
          padding: 12px;
          width: 100%;
        };
      };
    };

    .search_games_content {
      @include mixins.margin_fireplaces;
    };
  };
};
