@use './variables';

@mixin header-layout-filter($display: true) {
  @if $display {
    justify-content: space-between;
    padding: 0 8%;
  } @else {
    justify-content: center
  };
};

@mixin home_font_Style_title() {
  font-size: 26px;
  margin: 40px 0px 12px 38px;
};

@mixin hover_card_animation() {
  transform: scale(1.02);
  box-shadow: 0 10px 60px variables.$black !important;
  z-index: 1;
};

@mixin icon_free() {
  background: variables.$blue-primary;
  border-radius: 7px;
  color: variables.$white-primary;
  font-weight: 900;
  margin-left: 2px;
  padding: 4px;
  text-align: center;
  width: 50px;
};

@mixin margin_fireplaces() {
  // ============================ big monitors ===============================
  @media (min-width: variables.$breakpoint-lg) {
    margin-left: 225.5px;
    margin-right: 224.5px;
  };

  // ================ notebooks and tablets in landscape mode ================
  @media (max-width: variables.$breakpoint-lg) {
    margin-left: 100.5px;
    margin-right: 100.5px;
  };

  // ====== tablets in portrait mode and smartphones in landscape mode =======
  @media (max-width: variables.$breakpoint-md) {
    margin-left: 80px;
    margin-right: 80px;
  };

  // =================== smartphones in portrait mode ========================
  @media (max-width: variables.$breakpoint-sm) {
    margin-left: 36px;
    margin-right: 36px;   
  };

}