@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// colors
$color-primary: #3a3f44;
$color-secondary: #7a8288;
$break-color-primary: rgba(94,84,84,.1);
$dark: #272b30;
$black: rgb(8, 8, 8);
$blue-primary: #4799eb;
$white-primary: #fff;
$white-secondary: rgb(190, 189, 189);

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// font styles
$font-color-primary: #7a8288;
$font-color-secondary: #e9ecef;
$font-title: 'Shadows Into Light', serif;
$font-pattern: 'Open Sans', serif;
