@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// font styles
$font-color-primary: #7a8288;
$font-color-secondary: #e9ecef;
$font-pattern: 'Open Sans', serif !important;
$font-sm: 576px;
$font-md: 768px;
$font-lg: 992px;
$font-xl: 1200px;

// page styles
$color-primary: #3a3f44;
$color-secondary: #7a8288;
