@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// colors
$color-base-page: #272b30;
$color-primary: #32383e;
$color-secondary: #7a8288;
$break-color-primary: rgba(94,84,84,.1);
$dark: #272b30;
$black: rgb(8, 8, 8);
$blue-primary: #4799eb;
$white-primary: #fff;
$white-secondary: rgb(190, 189, 189);

$background-image-home: "https://www.freetogame.com/assets/images/paladins.png";

// breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;

// font styles
$font-color-primary: #7a8288;
$font-color-secondary: #e9ecef;
$font-title: 'Shadows Into Light', serif;
$font-pattern: 'Open Sans', serif;
