@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// colors
$color-primary: #3a3f44;
$color-secondary: #7a8288;
$black: rgb(8, 8, 8);
$white: #fff;

// font styles
$font-color-primary: #7a8288;
$font-color-secondary: #e9ecef;
$font-pattern: 'Open Sans', serif !important;
$font-sm: 14px;
$font-md: 17px;
$font-lg: 25px;


// font styles responsive
$font-sm-rs: 14px;
$font-md-rs: 20px;
$font-lg-rs: 30px;
